<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   
    <properties resource="com/zhl/basic/mybatis/xml/config.properties">
        <!-- 这个特性默认是关闭的。如果你想为占位符指定一个默认值， 你应该添加一个指定的属性来开启这个特性。 -->
        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/> <!-- 启用默认值特性 -->

        <!-- 如果你已经使用 ":" 作为属性的键（如：db:username） ，或者你已经在 SQL 定义中使用 OGNL 表达式的三元运算符（如： ${tableName != null ? tableName : 'global_constants'}），你应该通过设置特定的属性来修改分隔键名和默认值的字符。 -->
        <!-- <property name="username" value="${db:username?:ut_user}"/> -->
        <property name="org.apache.ibatis.parsing.PropertyParser.default-value-separator" value="?:"/> <!-- 修改默认值的分隔符 -->
        <property name="username" value="dev_user"/>
        <property name="password" value="F2Fa3!33TYyg"/>
    </properties>
<!--    <typeAliases>-->
<!--        <package name="com.zhl.basic.mybatis.xml"/>-->
<!--    </typeAliases>-->
<!--    <typeHandlers>-->
<!--        <typeHandler handler="com.zhl.basic.mybatis.xml.TypeHanlderImpl" javaType="java.lang.String" jdbcType="VARCHAR"/>-->
<!--    </typeHandlers>-->
<!--    <objectFactory type="com.zhl.basic.mybatis.xml.MyObjectFactory">-->
<!--        <property name="username" value="zhl"/>-->
<!--        <property name="otherProperty" value="100"/>-->
<!--    </objectFactory>-->
<!--    <plugins>-->
<!--        <plugin interceptor="com.zhl.basic.mybatis.api.ExamplePlugin" >-->
<!--            <property name="someProperty" value="100"/>-->
<!--        </plugin>-->
<!--    </plugins>-->
<!--    <settings>-->
<!--        <setting name="cacheEnabled" value="false"/>-->
<!--    </settings>-->
    <settings>
        <setting name="logImpl" value="com.zhl.basic.mybatis.xml.MyLog"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/zhl/basic/mybatis/xml/BlogMapper.xml"/>
    </mappers>
</configuration>